<!DOCTYPE html>
<!--
Author: Guru Singh
Web Server Programming, Spring 17
-->
<!-- Author : Java2db.com -->
<html>
    <head>
    </head>
    <body>
        <table bgcolor="#008000" width="100%">
            <tr>
                <td>
                    <h2><font color="#ffffff" ><b>Test HTML email</b></font></h2>
                </td>
            </tr>
        </table>
        <br>
        <table bgcolor="#d4d4d4" width="100%">
            <tr>
                <td>
                    <b>This mail from  Author  , for the topic of " 
                        <font color="#ff6600">Topic </font>" in 
                        <font color="#800080">Content In </font> .</b> 
                </td>
            </tr>
        </table>
    </body>
</html>
